<?php
/**
 * DeliveriesApi
 * PHP version 5
 *
 * @category Class
 * @package  Gateway\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Delivery Gateway
 *
 * Delivery Gateway
 *
 * OpenAPI spec version: 2.16.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Gateway\Client\Api;

use \Gateway\Client\ApiClient;
use \Gateway\Client\ApiException;
use \Gateway\Client\Configuration;
use \Gateway\Client\ObjectSerializer;

/**
 * DeliveriesApi Class Doc Comment
 *
 * @category Class
 * @package  Gateway\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DeliveriesApi
{
    /**
     * API Client
     *
     * @var \Gateway\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Gateway\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Gateway\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Gateway\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Gateway\Client\ApiClient $apiClient set the API client
     *
     * @return DeliveriesApi
     */
    public function setApiClient(\Gateway\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createdeliveries
     *
     * Create a new deliveries
     *
     * @param \Gateway\Client\Model\Deliveries $body Data used to create a new deliveries (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return void
     */
    public function createdeliveries($body)
    {
        list($response) = $this->createdeliveriesWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createdeliveriesWithHttpInfo
     *
     * Create a new deliveries
     *
     * @param \Gateway\Client\Model\Deliveries $body Data used to create a new deliveries (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function createdeliveriesWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createdeliveries');
        }
        // parse inputs
        $resourcePath = "/deliveries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/deliveries'
            );

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getdeliveries
     *
     * Return a specific deliveries instance.
     *
     * @param string $deliveries_id The ID of the deliveries that will be retrieved. (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return \Gateway\Client\Model\Deliveries
     */
    public function getdeliveries($deliveries_id)
    {
        list($response) = $this->getdeliveriesWithHttpInfo($deliveries_id);
        return $response;
    }

    /**
     * Operation getdeliveriesWithHttpInfo
     *
     * Return a specific deliveries instance.
     *
     * @param string $deliveries_id The ID of the deliveries that will be retrieved. (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return array of \Gateway\Client\Model\Deliveries, HTTP status code, HTTP response headers (array of strings)
     */
    public function getdeliveriesWithHttpInfo($deliveries_id)
    {
        // verify the required parameter 'deliveries_id' is set
        if ($deliveries_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $deliveries_id when calling getdeliveries');
        }
        // parse inputs
        $resourcePath = "/deliveries/{deliveriesId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($deliveries_id !== null) {
            $resourcePath = str_replace(
                "{" . "deliveriesId" . "}",
                $this->apiClient->getSerializer()->toPathValue($deliveries_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Gateway\Client\Model\Deliveries',
                '/deliveries/{deliveriesId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Gateway\Client\Model\Deliveries', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Gateway\Client\Model\Deliveries', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getdeliveriess
     *
     * List multiple deliveries resources.
     *
     * @param int $skip How many records to skip when listing. Used for pagination. (optional, default to 0)
     * @param int $limit How many records to limit the output. (optional, default to 10)
     * @param string $sort Which fields to sort the records on. (optional, default to )
     * @param string $select Select which fields will be returned by the query. (optional, default to )
     * @param string $populate Select which fields will be fully populated with the reference. (optional, default to )
     * @param string $query Query by example.                        Pass a JSON object to find a context. For example: {\&quot;context\&quot;: { \&quot;name\&quot;: \&quot;home\&quot;}}. (optional, default to )
     * @param bool $count Set to true to return the number                         of records instead of the documents. (optional, default to false)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return \Gateway\Client\Model\DeliveriesList
     */
    public function getdeliveriess($skip = '0', $limit = '10', $sort = '', $select = '', $populate = '', $query = '', $count = 'false')
    {
        list($response) = $this->getdeliveriessWithHttpInfo($skip, $limit, $sort, $select, $populate, $query, $count);
        return $response;
    }

    /**
     * Operation getdeliveriessWithHttpInfo
     *
     * List multiple deliveries resources.
     *
     * @param int $skip How many records to skip when listing. Used for pagination. (optional, default to 0)
     * @param int $limit How many records to limit the output. (optional, default to 10)
     * @param string $sort Which fields to sort the records on. (optional, default to )
     * @param string $select Select which fields will be returned by the query. (optional, default to )
     * @param string $populate Select which fields will be fully populated with the reference. (optional, default to )
     * @param string $query Query by example.                        Pass a JSON object to find a context. For example: {\&quot;context\&quot;: { \&quot;name\&quot;: \&quot;home\&quot;}}. (optional, default to )
     * @param bool $count Set to true to return the number                         of records instead of the documents. (optional, default to false)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return array of \Gateway\Client\Model\DeliveriesList, HTTP status code, HTTP response headers (array of strings)
     */
    public function getdeliveriessWithHttpInfo($skip = '0', $limit = '10', $sort = '', $select = '', $populate = '', $query = '', $count = 'false')
    {
        // parse inputs
        $resourcePath = "/deliveries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($sort !== null) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($sort);
        }
        // query params
        if ($select !== null) {
            $queryParams['select'] = $this->apiClient->getSerializer()->toQueryValue($select);
        }
        // query params
        if ($populate !== null) {
            $queryParams['populate'] = $this->apiClient->getSerializer()->toQueryValue($populate);
        }
        // query params
        if ($query !== null) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($query);
        }
        // query params
        if ($count !== null) {
            $queryParams['count'] = $this->apiClient->getSerializer()->toQueryValue($count);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Gateway\Client\Model\DeliveriesList',
                '/deliveries'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Gateway\Client\Model\DeliveriesList', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Gateway\Client\Model\DeliveriesList', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updatedeliveries
     *
     * Update a specific deliveries instance.
     *
     * @param string $deliveries_id The ID of the deliveries that will be updated. (required)
     * @param \Gateway\Client\Model\Deliveries $body Data used to update deliveries (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return \Gateway\Client\Model\Deliveries
     */
    public function updatedeliveries($deliveries_id, $body)
    {
        list($response) = $this->updatedeliveriesWithHttpInfo($deliveries_id, $body);
        return $response;
    }

    /**
     * Operation updatedeliveriesWithHttpInfo
     *
     * Update a specific deliveries instance.
     *
     * @param string $deliveries_id The ID of the deliveries that will be updated. (required)
     * @param \Gateway\Client\Model\Deliveries $body Data used to update deliveries (required)
     * @throws \Gateway\Client\ApiException on non-2xx response
     * @return array of \Gateway\Client\Model\Deliveries, HTTP status code, HTTP response headers (array of strings)
     */
    public function updatedeliveriesWithHttpInfo($deliveries_id, $body)
    {
        // verify the required parameter 'deliveries_id' is set
        if ($deliveries_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $deliveries_id when calling updatedeliveries');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling updatedeliveries');
        }
        // parse inputs
        $resourcePath = "/deliveries/{deliveriesId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($deliveries_id !== null) {
            $resourcePath = str_replace(
                "{" . "deliveriesId" . "}",
                $this->apiClient->getSerializer()->toPathValue($deliveries_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Gateway\Client\Model\Deliveries',
                '/deliveries/{deliveriesId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Gateway\Client\Model\Deliveries', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Gateway\Client\Model\Deliveries', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
