<?php
/**
 * InvoicesApi
 * PHP version 5
 *
 * @category Class
 * @package  Invoicing\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Gateway Invoicing APIs
 *
 * With the Invoicing APIs, you can create, get and update Customers and Invoices in Netsuite through REST APIs. This is a wrapper around NetSuite SOAP APIs and built for Gateway Invoicing requirements.
 *
 * OpenAPI spec version: 1.0
 * Contact: apiteam@builddirect.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Invoicing\Client\Api;

use \Invoicing\Client\ApiClient;
use \Invoicing\Client\ApiException;
use \Invoicing\Client\Configuration;
use \Invoicing\Client\ObjectSerializer;

/**
 * InvoicesApi Class Doc Comment
 *
 * @category Class
 * @package  Invoicing\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class InvoicesApi
{
    /**
     * API Client
     *
     * @var \Invoicing\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Invoicing\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Invoicing\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Invoicing\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Invoicing\Client\ApiClient $apiClient set the API client
     *
     * @return InvoicesApi
     */
    public function setApiClient(\Invoicing\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation invoiceCreate
     *
     * @param \Invoicing\Client\Model\Invoice $invoice The Invoice info to be created. (required)
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return void
     */
    public function invoiceCreate($invoice, $customer_id = null, $api_key = null)
    {
        list($response) = $this->invoiceCreateWithHttpInfo($invoice, $customer_id, $api_key);
        return $response;
    }

    /**
     * Operation invoiceCreateWithHttpInfo
     *
     * @param \Invoicing\Client\Model\Invoice $invoice The Invoice info to be created. (required)
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function invoiceCreateWithHttpInfo($invoice, $customer_id = null, $api_key = null)
    {
        // verify the required parameter 'invoice' is set
        if ($invoice === null) {
            throw new \InvalidArgumentException('Missing the required parameter $invoice when calling invoiceCreate');
        }
        // parse inputs
        $resourcePath = "/invoices";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // header params
        if ($customer_id !== null) {
            $headerParams['customerId'] = $this->apiClient->getSerializer()->toHeaderValue($customer_id);
        }
        // header params
        if ($api_key !== null) {
            $headerParams['apiKey'] = $this->apiClient->getSerializer()->toHeaderValue($api_key);
        }
        // body params
        $_tempBody = null;
        if (isset($invoice)) {
            $_tempBody = $invoice;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/invoices'
            );

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation invoiceGet
     *
     * @param int $invoice_id Netsuite Invoice Internal Id. (required)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return void
     */
    public function invoiceGet($invoice_id)
    {
        list($response) = $this->invoiceGetWithHttpInfo($invoice_id);
        return $response;
    }

    /**
     * Operation invoiceGetWithHttpInfo
     *
     * @param int $invoice_id Netsuite Invoice Internal Id. (required)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function invoiceGetWithHttpInfo($invoice_id)
    {
        // verify the required parameter 'invoice_id' is set
        if ($invoice_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $invoice_id when calling invoiceGet');
        }
        // parse inputs
        $resourcePath = "/invoices/{invoiceId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($invoice_id !== null) {
            $resourcePath = str_replace(
                "{" . "invoiceId" . "}",
                $this->apiClient->getSerializer()->toPathValue($invoice_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/invoices/{invoiceId}'
            );

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation invoiceGetAll
     *
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param int $page_size Number of results to be retrieved per page.  This has to be &gt; 5 and &lt; 1000 as per limitations of NetSuite. (optional)
     * @param string $search_id Netsuite Search ID.  This could be returned in the first batch of results response. (optional)
     * @param int $page_index Page Index of the search resulrs to be retrieved. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return void
     */
    public function invoiceGetAll($customer_id = null, $api_key = null, $page_size = null, $search_id = null, $page_index = null)
    {
        list($response) = $this->invoiceGetAllWithHttpInfo($customer_id, $api_key, $page_size, $search_id, $page_index);
        return $response;
    }

    /**
     * Operation invoiceGetAllWithHttpInfo
     *
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param int $page_size Number of results to be retrieved per page.  This has to be &gt; 5 and &lt; 1000 as per limitations of NetSuite. (optional)
     * @param string $search_id Netsuite Search ID.  This could be returned in the first batch of results response. (optional)
     * @param int $page_index Page Index of the search resulrs to be retrieved. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function invoiceGetAllWithHttpInfo($customer_id = null, $api_key = null, $page_size = null, $search_id = null, $page_index = null)
    {
        // parse inputs
        $resourcePath = "/invoices";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($page_size !== null) {
            $queryParams['pageSize'] = $this->apiClient->getSerializer()->toQueryValue($page_size);
        }
        // query params
        if ($search_id !== null) {
            $queryParams['searchId'] = $this->apiClient->getSerializer()->toQueryValue($search_id);
        }
        // query params
        if ($page_index !== null) {
            $queryParams['pageIndex'] = $this->apiClient->getSerializer()->toQueryValue($page_index);
        }
        // header params
        if ($customer_id !== null) {
            $headerParams['customerId'] = $this->apiClient->getSerializer()->toHeaderValue($customer_id);
        }
        // header params
        if ($api_key !== null) {
            $headerParams['apiKey'] = $this->apiClient->getSerializer()->toHeaderValue($api_key);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/invoices'
            );

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation invoiceUpdate
     *
     * @param int $invoice_id Netsuite Invoice Internal Id. (required)
     * @param \Invoicing\Client\Model\Invoice $invoice The Invoice info to be created. (required)
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return void
     */
    public function invoiceUpdate($invoice_id, $invoice, $customer_id = null, $api_key = null)
    {
        list($response) = $this->invoiceUpdateWithHttpInfo($invoice_id, $invoice, $customer_id, $api_key);
        return $response;
    }

    /**
     * Operation invoiceUpdateWithHttpInfo
     *
     * @param int $invoice_id Netsuite Invoice Internal Id. (required)
     * @param \Invoicing\Client\Model\Invoice $invoice The Invoice info to be created. (required)
     * @param int $customer_id Netsuite Customer Internal Id.  Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @param string $api_key User&#39;s API key. Either API Key or Netsuite Customer Internal Id is required. (optional)
     * @throws \Invoicing\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function invoiceUpdateWithHttpInfo($invoice_id, $invoice, $customer_id = null, $api_key = null)
    {
        // verify the required parameter 'invoice_id' is set
        if ($invoice_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $invoice_id when calling invoiceUpdate');
        }
        // verify the required parameter 'invoice' is set
        if ($invoice === null) {
            throw new \InvalidArgumentException('Missing the required parameter $invoice when calling invoiceUpdate');
        }
        // parse inputs
        $resourcePath = "/invoices/{invoiceId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // header params
        if ($customer_id !== null) {
            $headerParams['customerId'] = $this->apiClient->getSerializer()->toHeaderValue($customer_id);
        }
        // header params
        if ($api_key !== null) {
            $headerParams['apiKey'] = $this->apiClient->getSerializer()->toHeaderValue($api_key);
        }
        // path params
        if ($invoice_id !== null) {
            $resourcePath = str_replace(
                "{" . "invoiceId" . "}",
                $this->apiClient->getSerializer()->toPathValue($invoice_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($invoice)) {
            $_tempBody = $invoice;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/invoices/{invoiceId}'
            );

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }
}
